* { box-sizing:border-box; }

body {
  background-color: #000;
  color: #FFF;
  font-family:'Roboto';
}

::selection {
  background: #baffaa;
  color: #fff;
}

footer {
  text-align: right;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

footer a {
  color: grey;
}

.page-content {
  width: 750px;
  margin-left: 20px;
}

@media (max-width: 750px) {
  .page-content {
    max-width: 95%;
  }
}

/*FLEX--------------------------------------------------------*/
.flex {
  display: flex;
  flex-wrap: wrap;
}

.center 		{ 
  align-items: center;
}

.stretch {
  align-items: stretch;
}


/*MARGIN-------------------------------------------------------*/
.margin-large {
  margin-top:50px; 
}

.margin-small {
  margin-top: 20px;
}


/*TEXT-----------------------------------------------------------*/
h1 {

}

h2 { 

}

p{
  font-size: .8em;
  color: grey;
}

b{
  color: #FFF;
  font-weight: normal;
}

a{
  font-size: .7em;
  color: #3aa35a;
  text-decoration: none;
}


#bearing {
  font-size: 5em;
}

#bearing::after {
  content: "°";
}

.card {
  padding-right: 1em;
  margin-right: 1em;
  width: 200px;
}



/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  padding-bottom: 20px;
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #ffb000;
  background-color: #000;
  color: #FFF;
}
input:focus 		{ outline:none; }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
  top:-20px;
  font-size:14px;
  color:#ffb000;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#ffb000; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}