@import url('https://fonts.googleapis.com/css?family=Roboto');

* { box-sizing:border-box; }

body {
  background-color: #000;
  color: #FFF;
  font-family:'Roboto';
}

::selection {
  background: #baffaa;
  color: #fff;
}

footer {
  text-align: right;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

footer a {
  color: grey;
  font-size: 0.8em
}

footer a:hover {
  color: grey;
  font-size: 0.8em
}

.page-content {
  width: 900px;
  margin-left: 20px;
  z-index: 0;
}

@media (max-width: 900px) {
  .page-content {
    max-width: 95%;
  }
}

/*FLEX--------------------------------------------------------*/
.flex {
  display: flex;
  flex-wrap: wrap;
}

.center 		{ 
  align-items: center;
}

.stretch {
  align-items: stretch;
}


/*MARGIN-------------------------------------------------------*/
.margin-large {
  margin-top:50px; 
}

.margin-small {
  margin-top: 20px;
}


/*TEXT-----------------------------------------------------------*/
h1 {

}

h2 { 

}

p{
  font-size: .8em;
  color: grey;
}

b{
  color: #FFF;
  font-weight: normal;
}

a{
  font-size: 1em;
  color: #FFF;
  text-decoration: none;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

a:hover{
  font-size: 1em;
  color: orange;
  text-decoration: none;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}


/*MISC---------------------------------------------------------*/
#bearing {
  font-size: 5em;
}

#bearing::after {
  content: "°";
}

.card {
  padding-right: 1em;
  margin-right: 1em;
  width: 200px;
  cursor: url(cursor.png), auto;
}

.hidden {
  visibility: hidden;
}

.loader-bg {
  opacity:1;
  background-color:#000;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:998;
}

.loader-logo {
  z-index: 1000;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -101px;
  margin-top: -101px;
}


/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  padding-bottom: 20px;
}
input[type=number] {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #ffb000;
  background-color: #000;
  color: #FFF;
}

.contenteditable {
  display:inline-block;
  border: solid 1px #000;
  min-height: 1em;
  min-width: 300px;
  max-width: 95%;
  font-size:3em;
  display:block;
  border:none;
  background-color: #000;
  color: grey;
  margin-bottom: -15px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.contenteditable:hover {
  background-color: #383838;
  color: #FFF;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

input:focus { 
  outline:none; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label, input:visited ~ label {
  top:-20px;
  font-size:14px;
  color:#ffb000;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#ffb000; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}